In [16]:
inventory={}

ProductNo1 = "Mobile Phone"
ProductNo1_quantity = 5
ProductNo1_price = 20000
ProductNo1_releaseYear= 2020

inventory["ProductNo1"]= ProductNo1
inventory["ProductNo1_quantity"]= ProductNo1_quantity
inventory["ProductNo1_price"]= ProductNo1_price
inventory["ProductNo1_releaseYear"]= ProductNo1_releaseYear

ProductNo2 = "Laptop"
ProductNo2_quantity = 10
ProductNo2_price = 50000
ProductNo2_releaseYear= 2023

inventory["ProductNo2"]= ProductNo2
inventory["ProductNo2_quantity"]= ProductNo2_quantity
inventory["ProductNo2_price"]= ProductNo2_price
inventory["ProductNo2_releaseYear"]= ProductNo2_releaseYear

print(inventory)

{'ProductNo1': 'Mobile Phone', 'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo1_releaseYear': 2020, 'ProductNo2': 'Laptop', 'ProductNo2_quantity': 10, 'ProductNo2_price': 50000, 'ProductNo2_releaseYear': 2023}

In [17]:
"ProductNo1_releaseYear" in inventory
"ProductNo2_releaseYear" in inventory

True

In [18]:
del(inventory["ProductNo1_releaseYear"])
del(inventory["ProductNo2_releaseYear"])

In [20]:
print(inventory)

{'ProductNo1': 'Mobile Phone', 'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo2': 'Laptop', 'ProductNo2_quantity': 10, 'ProductNo2_price': 50000}

In [19]:
"ProductNo1_releaseYear" in inventory
"ProductNo2_releaseYear" in inventory

False

In [23]:
set_1 = (['rap','house','electronic music','rap'])

In [24]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("The sum of A is: ", sum(A))

The sum of A is:  6

In [25]:
print("The sum of B is:", sum(B))

The sum of B is: 3

In [27]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [28]:
album_set1.issubset(album_set3)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}